*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    place-items: center;
    min-height: 100vh;

}

.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;

}

.card{
    height: 100px;
    width: 100px;
    background-color: #000000;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.3s all ease;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.roundCards
{   
    animation: blinker 0.5s linear;
    animation-iteration-count: 1;
    box-shadow: 0px 0px 5px #fff;
}


.card.clicked{
    background-color: blue;
}

.smiley{
    background-color: yellow;
}
.smiley:hover{
    transform: scale(1.5);
    transition: 0.3s all ease
}



